<strong>Olá, {{student}}</strong>
<p>Você acaba de receber uma resposta da GymPro, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da resposta:  </strong> {{ answer_at }} <br />
  <br />
  <p>
    Estamos à disposição!
  </p>
</p>
