<strong>Olá, {{student}}</strong>
<p>Você acaba de realizar uma matrícula na GymPro, confira os detalhes abaixo:</p>
<p>
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Preço:  </strong>R$ {{ price }} <br />
  <br />
  <p>
    Seja muito bem vindo!
  </p>
</p>
